@use "../../styles/colors.scss" as *;

@mixin hp{
  transition: all 0.5s ease-in-out 0.5s;
  max-width: 800px;
  margin: auto;
}

.homepage-blur {
  filter: blur(10px);
  z-index: 10;
  
  @include hp();
}

h2 {
  color: $sectionTitle;
}

.homepage {
  filter: none;
  
  @include hp();
}
