$title: SteelBlue;
$sectionTitle: SteelBlue;

$headerLink: #dbe4f0;
$headerHoveredLink: LightSteelBlue;
$headerHoveredLinkShadow: AliceBlue;
$headerLinkStrong: #9eb3ce;
$headerHoveredLinkStrong: #86a1c2;

$aboutPageBackground: AliceBlue;
$aboutPageOpacity: 90%;
$aboutPageTitle: #34556f;
$aboutPageText: SteelBlue;
$aboutPageLink: SteelBlue;
$aboutPageHoveredLink: MidnightBlue;

$imageBackground: WhiteSmoke;
$imageTitleBackground: LightSteelBlue;
$imageTitle: MidnightBlue
