@use "./colors" as *;
@use "./font-face" as *;

@mixin clip {
  height: 100%;
  width: 100%;
  overflow: clip;
}

html {
  scroll-behavior: smooth;
  font: 14px/20px "Graphik Web Light", Arial, Verdana, sans-serif;

  @include clip;
}

body {
  color: $title;
  margin: 0px;
  text-align: center;
  
  @include clip;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#root {
  @include clip;
}

button {
  transition: color 0.3s, text-shadow 0.8s;
}

button:disabled {
  cursor: default;
}
