@use "../../styles/colors.scss" as *;

@mixin link {
  margin: 0px 24px;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: $headerLink;
}

.header {
  background-color: SteelBlue;
  padding: 20px 0px 16px;
  color: AliceBlue;

  position: sticky;
  top: 0px;

  z-index: 100;

  button {
    @include link;
  }

  button:hover {
    color: $headerHoveredLink;
    text-shadow: $headerHoveredLinkShadow 0 0 16px;
  }
}
