
/*
Hide scrollbars: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
*/
@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}


#App {
  @include hide-scrollbar;
  height: 100%;
}

.masked {
  opacity: 0%;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.unmasked {
  opacity: 100%;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.unscrollable{
  overflow: hidden;
}
