@use "../../styles/colors.scss" as *;

.image-image img, .image-imageNoBorder img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.image {
  padding: 0px;
  border:1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 16px 16px;
  background-color: $imageBackground;
}

.image-title {
  color: $imageTitle;
  background-color: $imageTitleBackground;
  font-weight: bold;
  font-size: 1.7em;
  padding: 12px;
}

.image-image {
  padding: 12px;
  padding-bottom: 6px;
}

.image-imageNoBorder {
  padding: 6px;
}
