.contentHolder-loading {
  padding: 8px;
}

/*#contentHolders {
  padding: 0;
  margin: 0;

  display: block;
}

.contentHolder {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;

  position: relative;
  transition: all 0.5s ease-in-out 0.1s;
  height: auto;
  height: 0px;
  opacity: 100%;
}

.hide-left {
  transform: translateX(-100%);
  opacity: 10%;
}

.hide-right {
  transform: translateX(100%);
  opacity: 10%;
}

.contentHolder-content {
  padding: 0;
  margin: 0;
}*/

#contentSlider {
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

#contentHolders {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: clip;
}

.contentHolder {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;

  position: relative;
  transition: all 0.5s ease-in-out 0.1s;
  height: auto;
  opacity: 100%;
  flex-grow: 1;
}

.hide-left {
  opacity: 0%;
  height: 0;
}

.hide-right {
  opacity: 0%;
  height: 0;
}

.contentHolder-content {
  padding: 0;
  margin: 0;
}
