@use "../../styles/colors.scss" as *;

.tabs-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-menu-arrow {
    background-color: $headerHoveredLinkShadow;
    color: $sectionTitle;
    
    border-radius: 1em;
    padding: 0;
    margin: 0 32px;

    font-size: 28px;
    color: $sectionTitle;
    text-decoration: none;

    height: 1.5em;
    width: 1.5em;

    overflow: visible;

    transition: all 0.5s ease-in-out;

    opacity: 100%;
}

.tabs-menu-arrow-hidden {
    opacity: 0%;
}

.tabs-menu-arrow:hover {
    color: $aboutPageHoveredLink !important;
}

.tabs-menu-current-tab {
    display: inline;
    margin: 8px 45px;
    text-transform: capitalize;
    flex-grow: 1;
}
