@use "../../styles/colors.scss" as *;

@mixin box() {

  display: box;

  position: absolute;
}

.hidden {
  transform: translate(0px, -100%);
  transition: all 0.5s ease-in-out;
}

.aboutPage {
  display: flex;

  position: absolute;
  
  height: 80%;
  width:  100%;

  align-items: center;
  justify-content: center;
  
  z-index: 50;

  //background-color: white;
  pointer-events: none;

  transition: all 0.5s ease-in-out;
}

.aboutPage-box {
  display: flex;

  position: fixed;
  
  height: 250px;
  width:  min(400px, 80%);
    
  z-index: 50;
  background-color: $aboutPageBackground;
  opacity: $aboutPageOpacity;
  
  border-radius: 25px;

  pointer-events: all;

  align-items: center;
  justify-content: center;
}


.aboutPage-content {
  padding: 0px 0px 30px;

  h1 {
    color: $aboutPageTitle;
  }
  
  p {
    color: $aboutPageText;
  }
  
  button {
    color: $aboutPageLink;
  }

  button:hover {
    color: $aboutPageHoveredLink
  }
}
