@use "../../styles/colors.scss" as *;

.linkButtonContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.linkButtonBox {
    transition: all 0.5s ease-in-out;
    width: 50%;
    border-radius: 5px;
    background-color: $headerLink;
    padding: 6px 0px;
}

.linkButtonBox:hover {
    transition: all 0.5s ease-in-out;
    background-color: $headerLinkStrong;
}

